<div>
  <router-outlet></router-outlet>
</div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Lista Não Concluida</h1>
      <p class="text-center lead"> </p>
      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td width=400>Descrição</td>
            <td> Order </td>
          </tr>
          <tr *ngFor="let atividade of atividades$ | async">
            <td> <a 
                 [routerLink]="[atividade.id, 'editar']"> 
                {{ atividade.descricao.substr(0,47) }}</a> </td>
                
            <td>
              
              <button type="button"
                      class="btn btn-primary"
                      class="btn btn-success"
                      (click)="concluirAtividade(atividade)">Concluir</button>
              <button class="btn btn-info"
              [routerLink]="[atividade.id, 'editar']"               
              > Editar </button>
              <button type="button"
                      class="btn btn-danger"
                      (click)="excluir(atividade)"> Excluir</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
