
<app-atividade></app-atividade>


<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Atividade</h1>
        <p class="text-center lead">Crie sua atividade abaixo.</p>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nome">Atividade</label>
            <input type="text" class="form-control" name="descricao"
            id="nome" placeholder="Inserir Atividade" [(ngModel)]="inserir.descricao"> 
          </div>
          <button  type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>      
    <div class="col-lg-2"></div>
  </div>
</div>
